<ion-header>
  <ion-toolbar>
    <ion-title>
      Matikkapeli
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="padding">
  <ion-list>
    <ion-item>
      <ion-input readonly value="{{num1}}" class="ion-text-center"></ion-input>
      <ion-label>+</ion-label>
      <ion-input readonly value="{{num2}}" class="ion-text-center"></ion-input>
      <ion-label>=</ion-label>
      <ion-input [(ngModel)]="vastaus" type="number" step="1" class="ion-text-center"></ion-input>
    </ion-item>
  </ion-list>
  <div class="ion-padding">
    <ion-button block (click)="laske()">Tarkasta</ion-button>
  </div>
</ion-content>
